// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;

$code-color: (
  // light: #383a42,
  light: #abb2b1,
  dark: #abb2bf,
);
$code-bg-color: (
  // light: #ecf4fa,
  light: #282c34,
  dark: #282c34,
);
