// place your custom styles here
// Powered by Waline v2.14.7
.wl-power {
  display: none;
}

.theme-container .page.blog {
  padding-bottom: 0 !important;
}

.blog-hero {
  margin-bottom: 0 !important;
}
.mask {
//   z-index: 2;
}
.blog-page-wrapper {
  // background-image: url(assets/img/wallhaven-9mjoy1.png);
  // background-repeat: repeat-y;
  // background-size: contain;
  // background-color: aqua;
  padding-top: 2rem !important;
  background-image: linear-gradient(to right, #51c4d3ac, #ed2f6ba3);
//   z-index: 2;
}
// .page {
//   z-index: 2;
//   transition: background var(--color-transition), box-shadow var(--color-transition), padding var(--transform-transition), transform var(--transform-transition);
//   backdrop-filter: var(--theme-color) var(--border-color);
// }
// .sidebar {
//   z-index: 3;
// }
// .toggle-sidebar-wrapper {
//   z-index: 2;
// }
