// place your custom styles here
@use "@sass-palette/hope-config";
@use "waline";
@use "md";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap");
@font-face {
  font-family: "PRshouxie";
  src: url("https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/oragekk/blog-assets/font/8d6a7466947745f9f211cd17e0ed5dc3.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ZWZT";
  src: url("https://cdn.jsdelivr.net/gh/ZhongZN/ZFonts/13.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.blog .fullscreen h1 {
  font-size: 2.8rem;
}

.vp-blog-hero.fullscreen {
  z-index: 2;
}
.blog-page-wrapper {
  z-index: 2;
}

.theme-container .vp-sidebar {
  transition: 0.3s;
  top: var(--navbar-height);
  @media (min-width: hope-config.$pad) {
    z-index: 4;
    background-color: transparent;
  }
}
// .hide-navbar {
//   .sidebar {
//     top: 0;
//   }
//   .toggle-sidebar-wrapper {
//     top: 0;
//   }
// }
[data-theme="light"] .theme-container .vp-sidebar {
  @media (max-width: hope-config.$tablet) {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(150%) blur(0.75rem);
  }
}
[data-theme="dark"] .theme-container .vp-sidebar {
  @media (max-width: hope-config.$tablet) {
    background-color: rgba(29, 32, 37, 0.8);
    backdrop-filter: saturate(150%) blur(0.75rem);
  }
}

[data-theme="light"] #main-content.vp-page {
  background-color: rgba(255, 255, 255, 0.8);
}
[data-theme="dark"] #main-content.vp-page {
  background-color: #1d2025cc;
}
#main-content.vp-page {
  backdrop-filter: saturate(150%) blur(0.75rem);
  z-index: 2;
}
#main-content.vp-project-home {
  z-index: 2;
  backdrop-filter: saturate(150%) blur(0.5rem);
}
.vp-page.not-found {
  max-width: none;
  background-color: transparent;
}

.vp-pagination .vp-pagination-number div.active {
  background-color: var(--theme-color) !important;
}

[data-theme="light"] .vp-article-wrapper .vp-article-item,
[data-theme="light"] .vp-page .vp-blogger-info,
[data-theme="light"] .vp-page .vp-blog-infos,
[data-theme="light"] .vp-pagination .vp-pagination-nav .vp-pagination-button,
[data-theme="light"] .vp-pagination .vp-pagination-nav input,
[data-theme="light"] .vp-pagination .vp-pagination-number div,
[data-theme="light"] .wl-panel,
[data-theme="light"] .timeline-wrapper,
[data-theme="light"] .vp-project-home,
[data-theme="light"] .back-to-top [data-theme="light"] .page-bg {
  background-color: #ffffffb3;
}

[data-theme="dark"] .vp-article-wrapper .vp-article-item,
[data-theme="dark"] .vp-page .vp-blogger-info,
[data-theme="dark"] .vp-page .vp-blog-infos,
[data-theme="dark"] .vp-pagination .vp-pagination-nav .vp-pagination-button,
[data-theme="dark"] .vp-pagination .vp-pagination-nav input,
[data-theme="dark"] .vp-pagination .vp-pagination-number div,
[data-theme="dark"] .wl-panel,
[data-theme="dark"] .timeline-wrapper,
[data-theme="dark"] .vp-project-home,
[data-theme="dark"] .back-to-top [data-theme="dark"] .page-bg {
  background-color: #1d2025b3;
}
.vp-article-wrapper .vp-article-item,
.vp-page .vp-blogger-info,
.vp-page .vp-blog-infos,
.vp-pagination .vp-pagination-number div,
.vp-pagination .vp-pagination-nav .vp-pagination-button,
.vp-pagination .vp-pagination-nav input,
.back-to-top {
  -webkit-backdrop-filter: saturate(150%) blur(0.75rem);
  backdrop-filter: saturate(150%) blur(0.75rem);
}

[data-theme="light"] .vp-blog-hero .vp-blog-mask:after {
  background: #000;
  opacity: 0.2 !important;
}
[data-theme="dark"] .vp-blog-hero .vp-blog-mask:after {
  background: #000;
  opacity: 0.5 !important;
}

// 时间轴
.timeline-wrapper {
  box-shadow: 0 1px 3px 1px var(--card-shadow);
  backdrop-filter: saturate(150%) blur(0.75rem);
  --dot-bar-color: #ebf6f6;
  .timeline-content::after {
    width: 3px;
  }
}

// features
.vp-features {
  justify-content: flex-start;
}

// 看板娘
[data-theme="light"] #oml-tips {
  background-color: var(--theme-color-live2d) !important;
  border: 1px solid #fff !important;
}
[data-theme="dark"] #oml-tips {
  background-color: var(--theme-color-live2d-dark) !important;
  border: 1px solid #fff !important;
}

// #oml-stage {
//   bottom: 20% !important;
// }

.aplayer.aplayer-fixed{
  z-index: 9998 !important;
}
// 适配移动端
table {
  table-layout: fixed !important;
  width: 100%;
  display: table;
}
hr {
  margin-left: 0.375em;
  margin-right: 0.375em;
  height: 1px;
  border: none;
  background: linear-gradient(to right, #7873f5 0%, #97d9e1 33%, #ec77ab 100%);
}
