// you can change colors here
$theme-color: #eb507e;
$theme-color-live2d: #80dcef;
$theme-color-live2d-dark: #424242;
$textColor: #2c3e50;
$border-color: (
  // light: #eaecef,
  // dark: #30363d,
  light: #e4e6e9,
  dark: #534045
);

// 布局
$navbar-height: 3.75rem;
$sidebar-width: 18rem;
// $content-width: 780px;
$content-width: 860px;
$home-page-width: 1160px;